.select {
    /*padding: 4rem;*/
}

#category-select label {
    font-size: 0.75rem;
    letter-spacing: 0.0225rem;
}

#select-button {
    /*margin-top: .5rem;*/
    display: flex;
    padding: 0.75rem;
    align-items: center;
    justify-content: space-between;

    border-radius: .375rem;
    border: 1px solid #000000;
    background-color: #e6f0fa;

}

#selected-value {
    font-size: 0.875rem;
    letter-spacing: 0.0265rem;
}

#chevrons svg {
    width: 1rem;
    height: 1rem;
}

#chevrons {
    color: #ffffff;
}

#chevrons [data-lucide="chevron-up"] {
    display: none;
}

#options-view-button:focus + #select-button,
#options-view-button:checked + #selected-button {
    outline: 1px solid #1B87FA;
}

#category-select:has(#options-view-button:checked) label,
#options-view-button:checked + #select-button #chevrons {
    /*color: #0D99FF;*/
}

#category-select:has(#options-view-button:checked) label,
#options-view-button:checked + #select-button #chevrons [data-lucide="chevron-down"] {
    display: none;
}

#category-select:has(#options-view-button:checked) label,
#options-view-button:checked + #select-button #chevrons [data-lucide="chevron-up"] {
    display: block;
}

#category-select {
    position: relative;
}

#options-view-button {
    all: unset;

    position: absolute;
    inset: 0; /*diz que vai se esticar em todo conteúdo do pai */

    cursor: pointer;
    z-index: 3;
}

#options {
    margin: .25rem;

    border-radius: .375rem;
    border: 1px solid #000000;

    display: none;
}

.option {
    display: flex;
    align-items: center;
    gap: .5rem;

    padding: .75rem;

    border-button: 1px solid #000000;

    position: relative;
}

.option svg {
    width: 1rem;
    height: 1rem;
}

.option svg:last-child {
    margin-left: auto;
    color: #1B87FA;
}

.option:has(input:checked),
.option:hover {
    border-bottom: 1px solid #252529;
    background-color: #e6f0fa;
}

.option:has(input:focus) {
    outline: 1px solid #ABB1E6;
}

.option [data-lucide="check"] {
    display: none;
}

.option:has(input:checked) [data-lucide="check"] {
    display: block;
}

.option input[type="radio"] {
    all: unset;

    position: absolute;
    inset: 0;

    cursor: pointer;

    /*outline: 1px solid red;*/
}

#category-select:has(#options-view-button:checked) + #options {
    display: block;
}

.select:has(.option input:checked) #category-select label {
    color: #ABB1E6;
}
