
:root {
    --bk-head-menu-bg-color: #81bbfa;
}

.header-container {
}

.background-menu {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    background: var(--bk-head-menu-bg-color);
}

.logo {
    background-image: url('./assets/image/logo-background-blue.svg');
    width: 200px;
    height: 50px;
    background-size: cover;
    margin-left: 1rem;
    margin-right: auto;
}

.icone-user {
    margin-right: 1%;
}

.my-count-menu {
    color: #ffffff;
    text-decoration: none;

}

.nav-bar {
    display: none;
    position: absolute;
    background-color: var(--bk-head-menu-bg-color);
    border: 1px solid #1B87FA;
    border-radius: 15px;
}

.container-nav-bar {
    margin-right: 1rem;
}

.my-count-menu:focus + .nav-bar,
.my-count-menu:hover + .nav-bar {
    display: block;
}

.nav-bar-item {
    display: block;
    padding: 5px 10px;
    color: #ffffff;
}

.background-footer {
    position: absolute;
    background-color: var(--bk-head-menu-bg-color);
    color: white;
    text-align: center;
    width: 100%;
    height: 2rem;
    padding: 20px;
}