
:root {
    --bk-head-menu-bg-color: #81bbfa;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header"
                         "content"
                         "peripheral"
                         "footer";
}

.header-content {
    grid-area: header;
}

.background-menu {
    background: var(--bk-head-menu-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 3rem;
    padding: 1%;

}

.logo {
    min-width: 200px;
    height: 50px;
    padding-left: 8rem;
}

.icon-user {
    display: none;
    padding-right: 8rem;
}

.icon-menu {
    display: block;
    float: right;
}

.nav-bar {
    display: none;
    border: 1px solid #1B87FA;
    border-radius: 10px;
    padding: 10px;
}

.container-nav-bar {
    float: right;
}

.nav-bar-item {
    display: block;
    padding: 5px 10px;
    color: #000000;
}

.content-inf-client {
    display: block;
    grid-area: content;
    background-color: #b3d4fc;
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 0;
}

.background-footer {
    grid-area: footer;
    background-color: var(--bk-head-menu-bg-color);
    color: white;
    text-align: center;
    width: 100%;
    height: 2rem;
    padding: 10px;
}

@media (min-width: 700px) {
    .icon-user {
        display: block;
        float: right;
    }
    .icon-menu {
        display: none;
    }
    .nav-bar-item {
        display: inline-block;
        padding: 5px 10px;
        color: #000000;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "header"
                         "content"
                         "peripheral"
                         "footer";
    }

}