.summarized-screening {
    display: flex;
    color: #1D597D;
    background-color: #B3B3B3;
    margin: 0 10% 1%;
    border: solid .3rem #1B87FA;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
}

.side-by-side {
    display: inline-block;
    margin-bottom: .3rem;
}

.client-data dt {
    font-weight: bold;
}