#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    padding: 1.2rem;
    border-radius: .5rem;
}

#modal-header {
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #B3B3B3;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #1B87FA;
    color: #ffffff;
}

#modal-header h2 {
    text-transform: uppercase;
    font-size: .8rem;
}

#modal-header h2 {
    font-weight: bold;
}

#modal-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
}

#modal-body label {
    font-weight: bold;
}

#modal-body label, input {
    margin-bottom: 0.5rem;
}

#modal-body button {
    background-color: #1B87FA;
    color: #ffffff;
    border-radius: 10%;
    padding: 10px;
    margin: 0 0 0 65%;
    cursor: pointer;
}

#button-close-modal {
    background-color: #1D597D;
    color: #ffffff;
    border-radius: 10%;
    padding: .3rem;
    margin: 0 0 0 2%;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}

#button-close-modal:hover {
    opacity: 1;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}