.container {
    background:#B3B3B3;
    width: 100rem;
    height: 10rem;
    text-align: center;
    position: relative;
}

.background-footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.space {
    background:white;
    width: 100rem;
    height: 3rem;
    text-align: center
}

.topics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    text-align: center;
}

.item {
    flex-flow: row wrap;
    display: inline-block;
    background:#B3B3B3;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    text-align: right;
}

.inf{
    background:#B3B3B3;
    width: 38rem;
    height: 150px;
    border-radius: 10px;
}