:root {
    --bk-head-menu-bg-color: #81bbfa;
}

body {
    font-family: "Roboto Light", sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header"
                         "content"
                         "footer";
}

.header-content {
    grid-area: header;
}

.background-menu {
    background: var(--bk-head-menu-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 3rem;
    padding: 1rem 0;
}

.logo {
    height: 50px;
    margin: 0 10%;
}

.icon-user {
    display: none;
    margin: 0 10%;
}

.icon-menu {
    display: block;
    float: right;
    margin: 0 10%;
}

.nav-bar {
    display: none;
    border: 1px solid #1B87FA;
    border-radius: 10px;
    padding: 10px;
}

.container-nav-bar {
    float: right;
}

.nav-bar-item {
    display: block;
    padding: 5px 10px;
    color: #000000;
}

.content-inf-client {
    display: block;
    grid-area: content;
    background-color: #b3d4fc;
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 0;
}

.background-footer {
    grid-area: footer;
    background-color: #1D597D;
    color: white;
    height: 2rem;
    padding: 1rem 0;
}

.background-footer {
    display: flex;
    font-size: .8rem;
    justify-content: flex-start;
    text-transform: uppercase;
}

.background-footer a {
    color: #FAA91C;
    font-weight: bold;
}
.background-footer a:active {
    color: #FFFFFF;
}

.copy {
    margin: 0 0 0 10%;
}

.accessibility {
    margin: 0 0 0 10%;
    flex-grow: .1;
}

.term-of-use {
    flex-grow: .1;
}

.data-protection {
    flex-grow: .1;
}

@media (min-width: 700px) {
    .icon-user {
        display: block;
        float: right;
    }
    .icon-menu {
        display: none;
    }
    .nav-bar-item {
        display: inline-block;
        padding: 5px 10px;
        color: #000000;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "header"
                         "content"
                         "footer";
    }

}